.header {
  background-image: url(../assets/backgroundMain1920.webp);
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}