.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(58,90,180,1) 0%, rgba(29,50,253,1) 50%, rgba(69,99,252,1) 100%);
  /* max-height: 1100px; */
}

.title_sign {
  font-size: 2.7rem;
  user-select: none;
}

.label_title {
  margin-top: 1rem;
  width: 18rem;
  font-size: 1.2rem;
  user-select: none;
}

.btn_login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0096c7;
  color: #edede9;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-family: "Roboto", cursive;
  width: 50%;
  margin-top: 2rem;
  transition: 0.3s all;
  user-select: none;
  margin-left: 25%;
  margin-bottom: 10%;
}

.btn_login:hover {
  background-color: #096a8a;
  scale: 0.9;
}

.container_label {
  width: 25rem;
}

.container_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #ede9e7;
  width: 100vw;
  overflow: hidden;
  user-select: none;
  min-width: 735px;
  max-width: 735px;
  background-color: white;
}

.container_login {
  padding: 2.5rem;
  height: 40rem;
  font-family: "Labrada", serif;
  border-radius: 0.5rem 0 0 0.5rem;
  z-index: 10;
  user-select: none;
  background-color: white;
}

.components {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9rem;
  width: 70%;
  padding-left: 7rem;
  padding-right: 7rem;
}

.container_logo {
  align-items: center;
  top: 5rem;
  font-size: 1.3rem;
  margin-bottom: 5rem;
}

.logo {
  color: #33a7ff;
}

.icon_password {
  transform: translateX(11.3rem);
  font-size: 1.5rem;
  position: absolute;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.password_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: ab;
  width: 25rem;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

@media (max-width: 1366px) {
  .components {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
  }

  .container_login {
    padding: 0.5rem;
    height: 30rem;
    font-family: "Labrada", serif;
    border-radius: 0.5rem 0 0 0.5rem;
    user-select: none;
  }

  .container_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 100vw;
    overflow: hidden;
    user-select: none;
    min-width: 561px;
    background-color: white;
  }

  .btn_login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #0096c7;
    color: #edede9;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family: "Roboto", cursive;
    margin-top: 2rem;
    transition: 0.3s all;
    user-select: none;
    margin-left: 30%;
    margin-bottom: 10%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .icon_password {
    transform: translateX(8rem);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .container_label {
    width: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .password_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: ab;
    width: 20rem;
    padding-right: 2rem;
  }

  .icon {
    font-size: 2rem;
  }

  .links {
    display: flex;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .components {
    flex-wrap: wrap;
  }
}
