.main {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  height: 100vh;
}

.title-sign {
  font-size: 2.7rem;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 5vw;
  padding: 15rem;
  font-family: "Labrada", serif;
  border-radius: 0.5rem 0 0 0.5rem;
  z-index: 10;
  box-shadow: -1rem 0 2rem 0.5rem #aeb6bf;
  /* position: relative; */
}

.label-title {
  margin-top: 1rem;
  width: 18rem;
  font-size: 1.2rem;
}

.forgot-password {
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.btn-login {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #0096c7;
  color: #edede9;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-family: 'Roboto', cursive;
  width: 100%;
  margin-top: 1rem;
  transition: 0.3s all;
}

.btn-login:hover {
  background-color: #096a8a;
  scale: 0.9;
}

.btn-login p {
  margin: 0;
}

.icon {
  display: block;
  place-items: center;
  height: 100%;
  font-size: 2rem;
  transition: 0.3s all;
}

.input-password {
  width: 23rem;
  height: 2.35rem;
  border-radius: 0.3rem;
  border-color: #6c757d;
}

.input-password:focus {
  outline: none;
}

.container-label {
  width: 25rem;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  z-index: 1;
  border-radius: 0 0.5rem 0.5rem 0;
  box-shadow: 1.5rem 0 2rem 0.5rem #aeb6bf;
  background-color: #EDE9E7;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

.container-logo {
  align-items: center;
  top: 5rem;
  font-size: 1.3rem;
  margin-bottom: 5rem;
}

.logo {
  color: #33A7FF;
}