.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
  position: fixed;
  width: 100vw;
  z-index: 10;
  user-select: none;
}

.nav-close-btn {
  display: none;
}

.nav-main {
  display: flex;
  width: auto;
  gap: 3rem;
  margin-right: 1rem;
}

.logo-link {
  visibility: hidden;
  background: transparent;
  opacity: 0;
}

.header-main > .nav-main > .link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}

.header-main > .nav-main > .link:hover {
  opacity: 1;
}

.header-main > .nav-main > .link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 0.45s;
}

.header-main > .nav-main > .link:hover::before {
  width: 100%;
}

.header-main.fixed > .nav-main > .link::before {
  background: black;
}

.nav-btn {
  display: none;
}

.header-main .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.header-main.fixed {
  background-color: white;
  transition: 0.3s ease-in-out;
  color: black;
}

.header-main.fixed > .nav-main > .link {
  color: black;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-sizing: border-box;
  height: 100%;
  width: auto;
  font-size: 2rem;
}
.main-logo {
  color: #33a7ff;
}

@media only screen and (max-width: 1119px) {
  .nav-btn {
    display: block;
  }
  .nav-close-btn {
    display: block;
  }

  .header-main .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .header-main.fixed > .nav-btn {
    color: black;
  }

  .header-main.fixed > .nav-main .nav-close-btn {
    color: black;
  }

  .header-main.fixed > .nav-main > .link::before {
    background: black;
  }

  .header-main .nav-main {
    position: fixed;
    top: -100%;
    /* bottom: -100%; */
    left: 0vw;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* padding-left: 2rem; */
    background-color: var(--mainColorLight);
    transition: 0.5s;
  }

  .header-main .responsive_nav {
    transform: translateY(106.7vh);
  }

  .nav-main .nav-close-btn {
    position: absolute;
    top: 1.1rem;
    right: 1.4rem;
  }

  .nav-main .link {
    position: absolute;
    top: 0.2rem;
    font-size: 1.5rem;
  }
}
