.div_main {
  position: relative;
}

.icon {
  font-size: 18px;
}

.toolbar_title {
  place-content: center;
}

.toolbar_button {
  display: flex;
  align-items: flex-end;
}

.toolbar_button {
  display: flex;
  align-items: flex-end;
}

.link {
  text-decoration: none;
  color: #454545;
}

.link:hover {
  text-decoration: none;
}

.listItem {
  padding: 0;
  justify-content: center;
  align-items: center;
}

.button {
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.logo_settings {
  margin-left: 0.5rem;
  cursor: pointer;
}

.div_name {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

@media (max-width: 599px) {

  .logo_settings {
    transform: translateX(-8.2rem);
  }

  .div_name {
    transform: translateX(-24rem);
  }
}