.components {
  background-color: #242329;
  display: grid;
  place-items: center;
  height: 100vh;
}

.password_container {
  position: relative;
  max-width: 100%;
}

.icon_password {
  transform: translateX(11.3rem);
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 12.5rem;
}

.carouselDemo {
  width: 98%;
  height: 100%;
}