.main {
  height: 100vh;
  width: 100%;
  background-color: #ececec;
  position: relative;
  font-family: 'Nunito', sans-serif;
}

.subtitle_abs h2{
  font-size: 4rem;
  margin: 2rem;
  padding: 1rem;
}

.subtitle{
  font-size: 3rem;
  margin: 2rem;
  padding: 1rem;
  color: #83f084;
}

.container_services{
  display: flex;
  margin: 2rem;
}

.container_services p{
  font-size: 16px;
}

.p_water, .p_energy, .p_gas, .p_sewerage{
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
}

.icon{
  font-size: 3rem;
}

.cont_icon{
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  margin-bottom: 10px;
  background-color: #ffff;
  justify-content: center;
  place-items: center;
  border-radius: 0.7rem;
}

@media (max-width: 1280px){
  .flex_container{
    flex-direction: column;
  }

  .us, .container_info{
    height: auto;
  }
}