.main{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  height: 40vh;
  background-color: #f9fbfc;
}

h4{
  margin: 0;
}

.container_footer{
  width: 100%;
  height: 100%;
  padding: 0 0 0 5rem;

}

.container_logo{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logo{
  color: #33a7ff;
}

.links{
  display: flex;
  gap: 3rem;
  margin-top: 30px;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #767a7e;
}

a:hover{
  text-decoration: underline;
}

.container_icons{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding: 5rem;
}

.linea{
  border-top: 1px solid #eff0f2;
  height: 2px;
  width: 90%;
  padding: 0;
  margin: 0;
}

.important_logos{
  width: 100%;
  padding: 1rem 2rem 0 5rem;
  display: flex;
  align-items: flex-end;
  width: 100vw;
}

.redes_icon{
  align-items: flex-end;
  position: relative;
  left: 1rem;
}