:root{
  --primary-100:#0077C2;
  --primary-200:#59a5f5;
  --primary-300:#c8ffff;
  --accent-100:#4D4D4D;
  --accent-200:#d9d9d9;
  --text-100:#FFFFFF;
  --text-200:#e0e0e0;
  --bg-100:#1C1C1C;
  --bg-200:#2b2b2b;
  --bg-300:#434343;
}

.container_info {
  display: flex;
  margin-top: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.us {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #061a2a;
  border-radius: 0.2rem;
}

.us h2 {
  color: #fff;
  font-size: 3rem;
  padding: 3rem;
  text-align: center;
}
.us span {
  color: #4241b4;
}

.container_picture {
  display: flex;
  height: 50vh;
  width: 30vw;
  background-color: #ffffffbd;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.picture {
  margin: 3 rem;
  width: 25vw;
  height: 90%;
  border-radius: 50%;
}

.paragraph_us {
  height: 50vh;
  width: 35%;
  padding: 1rem;
}

.icon_paragraph {
  font-size: 5rem;
  color: #055015;
}

.text_us {
  font: bold;
  font-size: 22.5px;
  width: 100%;
  color: #ffff;
}

.name_us {
  font-size: 16px;
  color: #718494;
  width: 100%;
}

.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 6rem;
  max-width: 1534px;
}

a:link, a:visited, a:active{
  color: #718494;
}

.picture {
  background-image: url("../../../assets/FotoTeam.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
