.title_signUp {
  font-size: 2.7rem;
  user-select: none;
  margin: 1rem 0;
}

.lbl_title {
  margin-top: 0.2rem;
  width: 18rem;
  font-size: 1.2rem;
  user-select: none;
}

.inputs_gap {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.close_button {
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 10;
  font-size: 2rem;
  background-color: #0096c7;
  color: white;
  border-radius: 50%;
  box-sizing: border-box;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  transition: 0.3s all;
}
.close_button:hover {
  background-color: #096a8a;
  scale: 0.9;
  cursor: pointer;
}

.btn_register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0096c7;
  color: #edede9;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-family: "Roboto", cursive;
  width: 50%;
  margin-top: 1rem;
  transition: 0.3s all;
  user-select: none;
  margin-left: 25%;
  margin-bottom: 10%;
}

.btn_register:hover {
  background-color: #096a8a;
  scale: 0.9;
}

.container_label {
  width: 100%;
}

.components {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 1100px;
}

.container_image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #ede9e7;
  width: 60%;
  overflow: hidden;
  user-select: none;
}

.container_register {
  padding: 2rem;
  height: 100%;
  width: 40%;
  font-family: "Labrada", serif;
  border-radius: 0rem 0.5rem 0.5rem 0;
  z-index: 1;
  user-select: none;
  background-color: white;
  box-sizing: border-box;
}

.container_logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  justify-content: flex-end;
  margin: 0;
}

.logo {
  color: #33a7ff;
}

.password_container {
  position: relative;
  max-width: 100%;
}

.icon_password {
  transform: translateX(11.3rem);
  font-size: 1.5rem;
  position: absolute;
  top: 7px;
  right: 12rem;
}

.sign_in {
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: 1.1rem;
  user-select: none;
}

.subtitle {
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: 1.1rem;
  user-select: none;
}

@media (max-width: 1090px) {
  .main {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
  }
  .components {
    flex-wrap: wrap;
    flex-flow: wrap-reverse;
    width: 100vw;
    padding: 6rem 8%;
    height: auto;
    box-sizing: border-box;
  }
  .container_register {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    margin: 0;
  }
  .container_form {
    width: 100%;
    box-sizing: border-box;
  }
  .container_image {
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    min-width: 0;
  }
}
