:root {
  --primary-100:#0077C2;
  --primary-200:#59a5f5;
  --primary-300:#c8ffff;
  --accent-100:#4D4D4D;
  --accent-200:#d9d9d9;
  --text-100:#FFFFFF;
  --text-200:#e0e0e0;
  --bg-100:#1C1C1C;
  --bg-200:#2b2b2b;
  --bg-300:#434343;
    

  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
}

.div_home_button {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.home_button {
  width: 150px;
  height: 60px;
  border: 3px solid var(--primary-300);
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
}

.home_button:hover {
  background: #315cfd;
  color: white;
  font-size: 1.5em;
}

.title_signUp {
  font-size: 2.7rem;
  user-select: none;
  margin: 1rem 0;
}

.lbl_title {
  margin-top: 0.2rem;
  width: 18rem;
  font-size: 1.2rem;
  user-select: none;
}

.inputs_gap {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.signup_button {
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-100);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.div_button_register {
  position: absolute;
  left: 8.2rem;
  margin-top: 1rem;
}

.signup_button .arrow_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.signup_button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.signup_button:hover {
  background-color: var(--primary-200);
}

.signup_button:hover .arrow {
  background: var(--secondary-color);
}

.signup_button:hover .arrow:before {
  right: 0;
}

.container_label {
  width: 100%;
  position: relative;
}

.components {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-100);
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  width: 1100px;
}

.container_image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: var(--text-100);
  width: 60%;
  overflow: hidden;
  user-select: none;
}

.container_register {
  padding: 2rem;
  height: 100%;
  width: 40%;
  font-family: "Labrada", serif;
  border-radius: 0rem 0.5rem 0.5rem 0;
  z-index: 1;
  user-select: none;
  background-color: var(--text-100);
  box-sizing: border-box;
}

.container_logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  justify-content: flex-end;
  margin: 0;
}

.logo {
  margin-top: .4rem;
  color: var(--primary-200);
}

.password_container {
  position: relative;
  max-width: 100%;
}

.icon_password {
  transform: translateX(11.3rem);
  font-size: 1.5rem;
  position: absolute;
  top: 7px;
  right: 12rem;
}

.sign_in {
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: 1.1rem;
  user-select: none;
}

.subtitle {
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: 1.1rem;
  user-select: none;
}

/* @media (max-width: 1090px) {
  .main {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
  }
  .components {
    flex-wrap: wrap;
    flex-flow: wrap-reverse;
    width: 100vw;
    padding: 6rem 8%;
    height: auto;
    box-sizing: border-box;
  }
  .container_register {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    margin: 0;
  }
  .container_form {
    width: 100%;
    box-sizing: border-box;
  }
  .container_image {
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    min-width: 0;
  }
} */
