.components {
  background-color: #242329;
  display: grid;
  place-items: center;
  height: 100vh;
}

.password_container {
  position: relative;
  max-width: 100%;
}

.icon_password {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.2rem;
}

.icon_password2 {
  position: absolute;
  font-size: 1.5rem;
  bottom: 1rem;
  right: 1.2rem;
  top: 1rem;
}

.confirmPassword {
  position: relative;
}

.carouselDemo {
  width: 98%;
  height: 100%;
}