.header_section {
  height: 82.5vh;
  width: 100%;
  position: relative;
}

.header {
  position: relative;
  background-image: url(../../../assets/image_index.webp);
  height: 80vh;
  min-height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.container_title {
  position: absolute;
  top: 12rem;
  left: 5rem;
  color: #ffff;
}

.container_title .h1 {
  font-size: 1.8rem;
}

.subtitle_header {
  font-weight: 100;
  font-size: 1.3rem;
}

.statistics_cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 50vh;
  width: 100%;
  top: 53%;
}

.video_player {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1920px) {
  .container_title .h1 {
    font-size: 3.4rem;
  }

  .subtitle_header {
    font-size: 2.4rem;
  }
}
