.div_main {
  position: relative;
}

.toolbar_title{
  place-content: center;
}

.toolbar_button {
  display: flex;
  align-items: flex-end;
}

.toolbar_button{
  display: flex;
  align-items: flex-end;
}